@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");
:root {
  --main-color: rgb(250, 250, 250);
  --primary-color: rgb(62, 62, 62);
  --text-color: rgb(34, 34, 34);
  --html-color: #fff8f2f3;
  --css-color: #ecf9ff;
  --js-color: #fffded;
  --font-family: "Mozilla Text", sans-serif;
}

.main-title {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}
.secondary-title {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: start;
}
p {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 1rem;
}
.para {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.all-btn {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav start */
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo h1 {
  font-family: var(--font-family);
}
/* nav end  */
/* banner section start */
.banner-section {
  height: 100vh;
  background: url(assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-content {
  width: 60%;
}
.section-title {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: bolder;
  font-size: 3rem;
  word-spacing: 10px;
}
.contact-me {
  background-color: #000;
  color: #fff;
  margin-top: 15px;
}
/* banner section end  */

/* web dev section start */

.web-development {
  width: 70%;
  margin: 50px auto;
  background-color: var(--main-color);
  padding: 60px 60px;
  border-radius: 20px;
}
.cards {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-content {
  width: 50%;
}
.card-content h1 {
  line-height: 35px;
  word-spacing: 8px;
}
.ytube-video-section {
  margin: 100px 0px;
}
.yt-video-content {
  margin-bottom: 50px;
}
.youtube-video {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
}
.yt-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* web dev section end  */

/*current targets section start */
.web-title {
  font-size: 20px;
  text-align: left;
}
.targets {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.target {
  padding: 30px;
  border-radius: 10px;
}
.target a {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-color);
}
.target-one {
  background-color: var(--html-color);
}
.target-two {
  background-color: var(--css-color);
}
.target-three {
  background-color: var(--js-color);
}
/*current targets  end */
/* next targets  start */
.next-targets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px;
}
.target-img img {
  width: 80px;
  height: 80px;
}
.next-target {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
}
/* next target end */

/* call to action start */
.call-to-action {
  height: 280px;
  width: 70%;
  margin: 50px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.call-to-action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.call-to-action-title {
  font-size: 30px;
  color: #fff;
}
.call-to-action-content p {
  color: #c6c6c6;
  margin-bottom: 20px;
}
.form {
  margin: 5px auto;
}
.call-action-input {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 16px;
}

.call-action-btn {
  height: 40px;
  padding: 5px 20px;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
}

/*  call to action end  */

/* footer start */

/*  footer end */
